﻿@model Web.Models.Multiple
@using Domain.Entity






@{
    ViewBag.Title = "allPub";
    Layout = Layout = "~/Views/Home/Index.cshtml";
}



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    .image-upload > input
{
    display: none;
}
    #Mycomments{
        overflow-y:scroll;
        height:150px;
        width:450px;
        margin-left:55px;
    }
    #sicommentaire {
        border-radius: 20px ;

        background-color: #F9F9F9;
        width: 350px !important;
        height: 30px;
        margin-left: 3px;
        color: #000000;
        margin-top:5px;
        padding-top:8px;
        padding-left:9px;

    }
            
.image-upload img
{
    width: 80px;
    cursor: pointer;
}
 
        .hh { 
            background-image: url( 
'https://goo.gl/pB9rpQ'); 
            background-size: cover; 
            width: 300px; 
            height: 200px; 
            font-size: 2rem; 
        } 
    
</style>
<link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<body>

    <!-- ==============================================
    Hero
    =============================================== -->
    @{
        var emp1 = (employee)Session["EmployeeSessionData1"];

    }
@using (Html.BeginForm("Create", "Publication", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    <div id="post">

        <section class="hero">



            <div class="col-lg-6 offset-lg-3">

                <div class="cardbox shadow-lg bg-white" style="width:538px; margin-left:-5px;border-radius: 10px 100px / 120px;"><br />
                    <div style="background-color:#F9F7F7;border:1px;height:30px;margin-left:15px;width:120px;margin-top:-15px;">
                        <span style="margin-left:25px;font-weight:bolder;font-size:11px;font-family:"Gill Sans", sans-serif; margin-top:-2px;">
                            ADVYBOOK
                        </span>
                    </div>
                    <div>
                        <div class="cardbox-comments">
                            <span class="comment-avatar float-left"style="margin-left:-25px;">
                                <a href=""><img class="rounded-circle" src=@Url.Content("/Content/upload/"+@emp1.photo) alt="..."></a>
                            </span>

                            <div class="search" style="margin-left:-20px;">
                            <div class="form-group" >
                                     @Html.LabelFor(model => model.statut, htmlAttributes: new
                           {
                               @class = "control-label col-md-2"
                           })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.statut, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control",
                                           placeholder = "Que pensez vous ? ...... "
                                       }
                                   })
                                        @Html.ValidationMessageFor(model => model.statut, "", new
                               {
                                   @class = "text-danger"
                               }) 
                                    </div>
                                </div> 
                         

                                <div hidden style="widh:180px; height:200px;" id="text">

                                </div>
                            </div><!--/. Search -->
                            <hr />
                        </div><!--/ cardbox-like -->
                      
                          
                            <div class="col-md-10" style="margin-left:25px;width:20px;" >
                                @Html.TextBox("file1", "", new { type = "file" })
                           
                                @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })
                              
                         
                        </div>
                        <br />
                        <br />
                        &nbsp; &nbsp;
                        &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                        &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp;
                        &nbsp; &nbsp;

                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp;    &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;    &nbsp; &nbsp;
                        
                        &nbsp; &nbsp;
                        &nbsp; &nbsp; <button class="btn btn-outline-primary" type="submit" style="margin-top:-60px">Post</button>

                    
                    </div><!--/ cardbox -->
                </div><!--/ col-lg-6 --></div>


        </section>
    </div>
    
}
    @foreach (var item in ViewBag.result)
    {
        <div id="publication">
            <section class="hero">
                <div class="container">


                    <div class="col-lg-6 offset-lg-3">

                        <div class="cardbox shadow-lg bg-white">
              
                            <div class="cardbox-heading">
                                <!-- START dropdown-->
                                <div class="dropdown float-right">
                                    <button class="btn btn-flat btn-flat-icon" type="button" data-toggle="dropdown" aria-expanded="false">
                                        <em class="fa fa-ellipsis-h"></em>
                                    </button>
                                   
                                </div><!--/ dropdown -->
                                <div class="media m-0">
                                    <div class="d-flex mr-3">
                                        <a href=""><img class="img-fluid rounded-circle" src=@Url.Content("/Content/upload/" + @item.employee.photo) alt="User"></a>
                                    </div>
                                    <div class="media-body">
                                       <p class="m-0">@item.employee.Fname</p>
                                        <small><span><i class="icon ion-md-time"></i>@item.date</span></small>
                                    </div>

                                </div><!--/ media -->
                            </div><!--/ cardbox-heading -->
                            &nbsp;&nbsp; <span><i class="icon ion-md-pin"></i>@item.statut</span>

                        @if (@item.file != null && @item.file.Contains("mp4"))
                        {
                            
                            <div class="cardbox-item">
                                <video style="width:100%; height:auto;" controls>
                                    <source src=@Url.Content("/Content/upload/" + @item.file) type="video/mp4" />
                                </video>
                            </div><!--/ cardbox-item -->
                                
                            }
                            @if (@item.file != null && @item.file.Contains("jpg"))
                            {
                                <div class="cardbox-item">
                                    <img class="img-fluid" src=@Url.Content("/Content/upload/" + @item.file) alt="Image">
                                </div><!--/ cardbox-item -->

                                

                            }
                            <div class="cardbox-base">
                                <ul class="float-right">
                                    <li><a><i class="fa fa-comments"></i></a></li>
                                    <li><a><em class="mr-5"><label num="@item.id" value="hi" id="hi" name="hi" class="commentNBR"></label></em></a></li>
                                    <li><a><i class="fa fa-share-alt"></i></a></li>
                                </ul>
                                <ul>
                                  

                                    <li ><a ><i class="fa fa-thumbs-up" id="LikePost" onclick="LikePost(@item.id)" ></i></a></li>
              

                                    <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/3.jpeg" class="img-fluid rounded-circle" alt="User"></a></li>
                                                 <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/1.jpg" class="img-fluid rounded-circle" alt="User"></a></li>
                                    <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/5.jpg" class="img-fluid rounded-circle" alt="User"></a></li>
                                    <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/2.jpg" class="img-fluid rounded-circle" alt="User"></a></li>
                                    <li><a><span><label num="@item.id" value="hi" id="hi" name="hi" class="likeNBR"></label></span></a></li>
                                </ul>
                            </div><!--/ cardbox-base -->
                             

                            @using (Html.BeginForm("Comment", "Comment", new { id = item.id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                 
                                <div id="hhhhhhhh">
                            
                                    <div id="@item.id">
                                     
                                        @foreach (feedback i in @item.feedback)
                                        {                  
                                       <div class="cardbox-comments">
                                         <span>@i.date</span>
                                     <span class="comment-avatar float-left">
 <a href=""><img class="rounded-circle" src=@Url.Content("/Content/upload/" + @i.employee.photo) alt="..."></a>
                                            </span>
                                            <div id="sicommentaire" style="background-color:#DFD9D9;height:60px;margin-left:50px;margin-top:0px;">
                                        <span style="font-size:15px;margin-left:-300px;margin-top:-60px;color:#385898;font-weight:bold;">@i.employee.Fname</span><br /><span style="font-size:10px;margin-left:-190px;margin-top:20px;">@i.comment</span></div>
                                           
                                                                           



                                                                       </div>
                                                                    <div style="margin-left:100px;margin-top:-20px;">
                                                                        <span>@i.date</span>                <span>modifier</span>        <span>supprimer</span>
                                                                    </div>

                                        }

                                        </div>
                                    <div class="cardbox-comments">
                                        <span class="comment-avatar float-left">
                                            <a href=""><img class="rounded-circle" src=@Url.Content("/Content/upload/" + @emp1.photo) alt="..."></a>
                                        </span>


                                        @Html.EditorFor(model => model.comment, new
                                   {
                                       htmlAttributes = new
                                       {
                                           placeholder = "commentez-vous ...... ",
                                           @class = "form-control",id="sicommentaire"

                                       }
                                   })
                                        @Html.ValidationMessageFor(model => model.comment, "", new
                                   {
                                       @class = "text-danger"
                                   })
                                    </div>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;
                                  
                                    <input style="margin-top:-113px;padding-top:-50px;margin-left:-7px;border-radius:20px;width:80px;font-size:10px;font-weight:bold;" onclick="seecomments(@item.id)" type="submit" value="Comment" class="btn btn-outline-primary" />
                                </div><!--/ cardbox-like -->
                                
                            }
                        <div>


                        </div>
                            </div><!--/ cardbox -->
                        </div><!--/ col-lg-6 -->



                    </div><!--/ container -->
                </section>
            </div>
                                }

                            

                            <script>
                                function agrandissement(tonInput) {

                                    $('#text').show();
                                }
                                $("input[type='image']").click(function () {
                                    $("input[id='my_file']").click();
                                });
                                $('label[class="commentNBR"]').each(function (i, e) {


                                    $.ajax({
                                        url: '/Comment/Count',
                                        type: "GET",
                                        data: { idp: $(this).attr('num') },
                                        success: function (response) {

                                            $(e).text(response);
                                        }


                                    })
                                });//end loop nbre like

                                $('label[class="likeNBR"]').each(function (i, e) {


                                    $.ajax({
                                        url: '/Like/Count',
                                        type: "GET",
                                        data: { idp: $(this).attr('num') },
                                        success: function (response) {

                                            $(e).text(response);
                                        }


                                    })
                                });
                                function seecomments(x){
                                
                                    var id=x;

                                    //  alert(x)
                              
                                    $.ajax({
                                        url: "/Comment/allComment",
                                        
                                        type: "post",
                                     
                                        data: { 'idp': id },
                                        success: function () {
alret(response)
                                            // data is your result from controller
                                            /* $("#affichhhh").html(data)
                                             console.log(data);
                                            
                                             $.each( data, function( key, val ) {
                                                 items.push( "<li id='" + key + "'>" + val + "</li>" );
                                             });
 
                                             $( "<ul/>", {
                                                 "class": "my-new-list",
                                                 html: items.join( "" )
                                             }).appendTo( "#affichhhh" );
                                         }*/
                                         

                                    
                                        } 
                                    })
                                }
                           function LikePost(x){
                                
                               var id=x;
                               //  alert(x)
                               
                               $.ajax({
                                   type: "POST",
                                   url: "/Publication/Like",
                                   data: { idp: id  },
                                   success: function() {   
                                       location.reload();  
                                   },
                                   error: function() {
                                       alert("error");
                                   }

                               });}
</script>
                        </body>




