﻿
<html>
<body>
    <h2>PasswordForget</h2>
    enter your email :
    <input type="email" />
<input type="button" class="btn btn-info" value="Recover Password" onclick="location.href='@Url.Action("sendSms", "Sms")'" />
</body>
</html>