﻿@model Domain.Entity.humanressources
@{
    ViewBag.Title = "RHlogin";
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V20</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-b-160 p-t-50">
                <span class="login100-form-title p-b-43">
                    Hello<br />
                
                    Mr Human Ressources
                </span>
                <h4 style="color:white;">Please enter your information To continue</h4>
                <br />
                <form class="login100-form validate-form" action="" method="post">
                        
   <div class="wrap-input100 rs1 validate-input" data-validate="Username is required">
       @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "input100" ,Name = "username" } })
   
         
           <span class="label-input100">email</span>
                    </div>


                    <div class="wrap-input100 rs2 validate-input" data-validate="Password is required">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "input100" ,Name= "pass" } })
                     
                     
                        <span class="label-input100">Password</span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn"  onclick="location.href='@Url.Action("PrintEmp", "Employee")'" />
                            Sign in
                        </button>
                    </div>

                    <div class="text-center w-full p-t-23">
                        
                     
                       
                       
                    </div>
                </form>
                <input type="button" class="btn btn-info" value="Forget Password?" onclick="location.href='@Url.Action("PasswordForget", "RH")'" />
            </div>
        </div>
    </div>




   
    <!--===============================================================================================-->
    <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>

</body>
</html>