﻿
@model Domain.Entity.feedback
@using Domain.Entity

@{ 
  //  employee currentUser = (employee)Session["CurrentUser"];

  //  currentUser.Fname = "ggggg";
    Layout = "~/Views/Home/Index.cshtml";

}

<body>@{
   // var emp1 = (employee)Session["EmployeeSessionData1"];//retrive Data from TempData
}
        <h1>La liste des employées</h1>
    <!-- Page Content -->
    <div class="container">
      
        <div class="col-lg-12">
            <table class="table table-bordered" id="table_id">
                <thead class="thead-light">
                    <tr>
                        <th>Id</th>
                        <th>FirstName</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in ViewBag.result)
            {
                        <tr>
                            <td>@p.id</td>
                            <td>@p.email</td>
                            <td>@p.age</td>
                            <td>@p.competence</td>
                            <td>@p.job</td>
                            <td>Ban User</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

   


    


</body>


