﻿@model IEnumerable<Domain.Entity.dayoff>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Index.cshtml";
}
<body>
    <h2>Index</h2>

    <a href="@Url.Action("Create" , "dayoff")">Add DayOff </a>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>DateDebut</th>
            <th>DateFin</th>
            <th>Nombre de jours</th>

        </tr>
        @foreach (var p in Model)

        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => p.debut)
                    
                </td>
                <td>@Html.DisplayFor(modelItem => p.fin)
              </td>
                <td>@Html.DisplayFor(modelItem => p.nbjrs)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = p.id }) |
                    @Html.ActionLink("Details", "Details", new { id = p.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = p.id })


                </td>



            </tr>
        }
    </table>


</body>
